* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 6.25%;
  /* 
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
 */
  --ff-body: 'Roboto', sans-serif;
  --bg-body: #00000f;

  --bg-primary: #065e7c;
  --bg-secondary: #092d38;
  --bg-tertiary: #06181c;
  --bg-quaternary: #06161b80;
  --bg-quinary: #4a808c;
  --bg-senary: #030b0d;

  --fc-primary: #ffffff;
  --fc-secondary: #e1e1e6;
  --fc-tertiary: #7c7c8a;
  --fc-quaternary: #4e5455;

  --fc-danger: #f75a68;

  --bg-table-head: var(--bg-secondary);
  --bg-table-row-odd: var(--bg-quaternary);
  --bg-table-row-even: var(--bg-tertiary);

  /* primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary, denary. */
}

body {
  font-size: 16rem;
  background-color: var(--bg-body);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

body,
button,
input,
p,
a {
  font-family: var(--ff-body);
  color: var(--fc-secondary);
}

/*

  STYLES

*/

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;
  padding-inline: 16px;
  padding-bottom: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 115rem;
  padding-bottom: 88rem;
}

.header__logo-svg {
  color: var(--fc-primary);
}

.header__search-wrapper {
  display: flex;
  gap: 8rem;
  justify-content: flex-end;
  width: 64%;
}

.search__input {
  font-weight: 400;
  font-size: 16rem;
  background-color: var(--bg-tertiary);
  color: var(--fc-primary);

  width: max(
    100px,
    100%
  ); /* aqui eu não sei porque mas nem o clamp nem o max estão funcionando */
  padding: 16rem;
  border: none;
  border-radius: 5rem;
}

.search__button {
  font-weight: bold;
  font-size: 14rem;
  line-height: 24rem;
  color: var(--fc-primary);
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  cursor: pointer;

  padding-block: 12rem;
  padding-inline: 32rem;
  border: none;
  border-radius: 5rem;

  transition: background 0.2s ease-in-out;
}

.search__button:hover,
.search__button:hover svg path {
  background-color: var(--fc-primary);
  color: var(--bg-primary);
  fill: var(--bg-primary);
}

.table-wrapper {
  overflow: hidden;
  border-radius: 12rem;
  border: 1px solid var(--bg-quinary);
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  /* border: 1px solid var(--bg-quinary); */
  border-radius: 12rem;
  width: 100%;
}

table * {
  font-size: 20rem;
}

thead {
  border-radius: 12rem;
}

th {
  background-color: var(--bg-table-head);
  text-align: left;
  font-weight: 700;
  padding-block: 16rem;
  padding-inline-start: 40rem;
  padding-inline-end: 32rem;
}

/* th:first-child {
  border-top-left-radius: 12rem;
}

th:last-child {
  border-top-right-radius: 12rem;
} */

tr:nth-child(odd) {
  background-color: var(--bg-quaternary);
  border-top: 1px solid var(--bg-table-head);
}

tr:nth-child(even) {
  background-color: var(--bg-tertiary);
  border-top: 1px solid var(--bg-quinary);
}

td {
  padding-block: 24rem;
  padding-inline-start: 40rem;
  padding-inline-end: 32rem;
}

.td-user__image {
  width: 56rem;
  height: 56rem;
  object-fit: cover;
  border-radius: 50%;
}

.td-user__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  cursor: pointer;
}

.td-user__name-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.td-user__nick {
  font-weight: 700;
}

.td-user__login {
  font-style: italic;
}

.td-repositories {
  font-weight: 700;
}

.td-followers {
  font-weight: 700;
}

.btn-remove {
  text-align: center;
  background: none;
  border: none;
  font-weight: 700;
  color: var(--fc-danger);
  cursor: pointer;
  transition: all 0.2s;
}

.btn-remove:hover {
  color: #ff4e5c;
  font-size: 22rem;
}

.btn-remove::before {
  content: attr(title);
  display: block;
  font-size: 22rem;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.message-empty {
  background-color: var(--bg-senary);
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60rem;
  height: 300px;
}

.message p {
  color: #4e5455;
  font-family: 'Roboto Mono', monospace;
}

.hide {
  display: none;
}
